.box{
    border: 1px solid black;
    background-color: rgb(162, 251, 251);
    /* transform: translate(100px,100px);
    transform: rotate(-45deg); */

    margin: 300px;
     transform: scale(2,3);  /*first is for horizontal and second is for vertical position */
     transform: skew(-56deg);

}